<div class="p-8 container mx-auto flex flex-col space-y-4">
  <button #trigger (click)="selectComponent.show()" class="px-4 py-2 bg-blue-600 text-white rounded border-none">
    Dropdown
  </button>

  <app-select #selectComponent [anchorRef]="trigger" [(ngModel)]="testParam" [position]="POSITION_OVERLAY.left_bottom"
              [width]="160">
    <div class="rounded bg-white shadow-lg w-40">
      <app-select-item [value]="1">1</app-select-item>
      <app-select-item [value]="2">2</app-select-item>
      <app-select-item [value]="3">3</app-select-item>
      <app-select-item [value]="4">4</app-select-item>
      <app-select-item [value]="5">5</app-select-item>
    </div>
  </app-select>
  <button (click)="log(testParam)" class="px-4 py-2 bg-blue-600 text-white rounded border-none">
    log param
  </button>
  <button (click)="updateParam()" class="px-4 py-2 bg-blue-600 text-white rounded border-none">
    update
  </button>
  <hr class="my-12 border-gray-600">
</div>
